# Core functionality - changes here should be rare!
/src/app.py                   @tanishaf28
/src/backend/database.py      @tanishaf28
/src/backend/routers/auth.py  @tanishaf28

# The frontend will need refactored soon to be more object oriented.
/src/static/   @tanishaf28
